__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.coverage
htmlcov/
njupt_smartclass_downloader_webui/

venv/
env/
ENV/
.venv/
.venv

.vscode/
.idea/
*.swp
*.swo
*~

dist_nuitka/
dist/
build/
*.exe

cache/
logs/
*.log
SmartclassDownload/

config/auth.json
config/settings.json

plugins_env/

bin/ffmpeg_temp.zip
*.tmp
*.temp

runtime/
bin/

_internal/
